.p-back-btn{
    height: 5vh;
    background-color: #144F3C;
    border: 0;
    border-radius: 2px;
}

.p-profilepic{
    width: 20rem;
    height: auto;
    clip-path: circle(30% at 50% 50%);
    border: 1px solid;
    margin: 0;
    padding: 0;
    
}

.p-profilepic:hover{
    cursor:pointer
}

.p-profile-container{
    display: flex;
    flex-direction: row;
    margin-right: 6rem;
    justify-content: space-between;
}


.p-user-section{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-post-section{
    display: flex;
    flex-direction: column;
   
}

.p-post-conteiner{
    display: flex;
    border-top: 0.5px solid rgb(187, 183, 183);
    padding: 1rem;
    width: 50vw;
    justify-content: space-between;
}

.p-post-btn{
    padding: 0.2rem;
    background-color: rgb(245, 37, 37);
    border: 0;
    border-radius: 2px;
}

.p-delete{
    width: 20px;
}

.p-btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.p-username{
    margin: 0;
    padding: 0;
}

.p-email{
    margin: 0;
    padding: 0;
}
