.back-btn{
    height: 5vh;
    background-color: #144F3C;
    border: 0;
    border-radius: 2px;
}

.profilepic{
    width: 20rem;
    height: auto;
    clip-path: circle(30% at 50% 50%);
    border: 1px solid;
    margin: 0;
    padding: 0;
    
}

.profilepic:hover{
    cursor:pointer
}

.profile-conteiner{
    display: flex;
    margin-right: 6rem;
    justify-content: space-between;
}


.user-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-section{
    display: flex;
    flex-direction: column;
   
}

.post-conteiner{
    display: flex;
    border-top: 0.5px solid rgb(187, 183, 183);
    padding: 1rem;
    width: 50vw;
    justify-content: space-between;
}

.post-btn{
    padding: 0.2rem;
    background-color: rgb(245, 37, 37);
    border: 0;
    border-radius: 2px;
}

.delete{
    width: 20px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username{
    margin: 0;
    padding: 0;
}

.email{
    margin: 0;
    padding: 0;
}
